<!DOCTYPE html>
<html>
<head>
	<title>Clone Overflow</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'forum/detail.css' %}">
</head>
<body>
	

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>

	{% else %}

		<h1> {{ question.title }} </h1>

		<div>
			<div>
				{{ question.body }}
			</div>
			<div class="authors">
				{{question.author}} - {{question.timestamp}} 
			</div>

			<div>
				<form action="" method="post">
					{%csrf_token %}
					<input type="submit" value="Upvote">
				</form>
			
				<a> {{ question.votes }} Vote{{qustion.votes|pluralize}} </a>
				<form action="" method="post">
					{%csrf_token %}
					<input type="submit" value="Downvote">
				</form>
			</div>

			<br/>

			<div class="comments">
				{% for comment in question.q_comments.all %}
					{{comment.body}} -{{comment.author}} {{comment.timestamp}}
				{% endfor %}
			</div>
		</div>

		<h2> {{ q.answer_set.count }} Answer{{q.answer_set.count|pluralize}} </h2>

		{% if q.answer_set.count != 0  %}
			{% for ans in question.answer_set.all %}
				<div>
					<div>
						{{ ans.body }}
					</div>

					<div class="authors">
						{{ans.author}} - {{ans.timestamp}}
					</div>

					<div>
						<form action="" method="post">
							{%csrf_token %}
							<input type="submit" value="Upvote">
						</form>
						<a> {{ ans.votes }} Vote{{ans.votes|pluralize}} </a>
						<form action="" method="post">
							{%csrf_token %}
							<input type="submit" value="Downvote">
						</form>
					</div>
					
					<br/>

					<div class="comments">
						{% for comment in ans.a_comments.all %}
							{{comment.body}} -{{comment.author}} {{comment.timestamp}}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endif %}
</body>
</html>